.place-order { 
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 50px;
    margin-top: 100px;
} 
.place-order-left { 
    width: 100%;
    max-width: (30%,500px);
}
.title { 
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input { 
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color:tomato ;
}
.multi-feilds { 
      display: flex;
    gap: 10px;
}
.place-order-right { 
    width: 100%;
    max-width: max(500px,40%);
}
.cart-total button { 
    margin-top: 30px;
}