.verify { 
    min-height: 60vh;
    display: flex; 
    justify-content: center;
    align-items: center;
} 

.spinner { 
    width: 100px;
    height: 100px;
    border: 5px solid #bdbdbd;
    border-top-color: tomato;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate { 
    100% { 
        transform: rotate(360deg);
    }
}
